body {
    font-size: 16px;
  }
  h1 {
      width: 65px;
      height: 65px;
      color: orange;
      font-family: sans-serif;
  }

  .background-color {
      background-color: yellow;
  }

  p {
    font-size: 3em;
    font-weight: 600;
  }

  #amarelo {
    background-color: yellow;
  }

  #vermelho {
    background-color: red;
  }

  #marrom {
    background-color: brown;
  }